/* -------------------------------------
 * Style
 * ------------------------------------- */
body {
  background: #ff730b;
  font-family: "Helvetica Neue", Arial;
  color: white;
}

a {
  color: white;
  font-weight: bold;
  text-style: underline;
}

#wrap {
  max-width: 1024px;
  margin: 40px auto;
  padding: 0 5%;
  position: fixed;
  left: 0;
  right: 0;
}

#frame {
  margin: 0 auto;
  border: 6px double #eee9dc;
}

#toolbar {
  border-bottom: 2px solid #eee9dc;
  padding: 10px;
  overflow: hidden;
}

#close {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  clear: right;
}

.circle {
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border: 2px solid #eee9dc;
  border-radius: 50%;
  float: left;
}

#back {
  width: 35px;
  height: 26px;
  border: 2px solid #eee9dc;
  border-right-width: 1px;
  border-radius: 3px 0 0 3px;
  float: left;
}
#back span {
  width: 0;
  height: 0;
  margin: 6px 0 0 10px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 12px solid #eee9dc;
  display: block;
}

#forward {
  width: 35px;
  height: 26px;
  border: 2px solid #eee9dc;
  border-left-width: 1px;
  border-radius: 0 3px 3px 0;
  float: left;
}
#forward span {
  width: 0;
  height: 0;
  margin: 6px 0 0 12px;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 12px solid #eee9dc;
  display: block;
}

#address {
  max-width: 850px;
  height: 26px;
  margin-left: 90px;
  border: 2px solid #eee9dc;
  border-radius: 3px;
}
#address:before {
  content: "http://www.frontkom.no";
  padding-left: 5px;
  color: #eee9dc;
  font-family: Verdana;
  line-height: 27px;
}
#address span {
  float: right;
  margin: 6px 10px 0 0;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #eee9dc;
  border-right-color: transparent;
  transform: rotate(15deg);
}
#address span:after {
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #eee9dc;
  position: absolute;
  top: -3px;
  left: 7px;
  transform: rotate(25deg);
}

#speaker {
  height: 8px;
  border: 2px solid #eee9dc;
  border-radius: 8px;
}

#screen {
  border: 2px solid #eee9dc;
}

#button {
  border-radius: 50%;
  border: 2px solid #eee9dc;
}

/*------- popup ------- */
#popup {
  width: 100px;
  margin: 0 auto;
  padding: 5px 10px;
  color: #eee9dc;
  text-align: center;
  font-family: Verdana;
  border: 2px solid #eee9dc;
  border-radius: 5px;
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
}

.message {
  text-align: center;
}

#footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #271d1c;
  padding: 20px;
}
