/* -------------------------------------
 * Style
 * ------------------------------------- */
body {
  background: #ff730b;
  font-family: "Helvetica Neue", Arial;
  color: white;
  line-height: 1.5;
}

h1, h2, h3 {
  font-family: 'Montserrat', Arial;
}

a {
  color: white;
  font-weight: bold;
  text-style: underline;
}

.wrap {
  max-width: 700px;
  margin: 40px auto;
  padding: 0 10%;
  position: fixed;
  left: 0;
  right: 0;
}

.message {
  text-align: center;
}

.btn {
  margin: 10px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid white;
  border-radius: 4px;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 30px;
  width: 100%;
  background: #271d1c;
  padding: 20px;
}
